.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    padding-left: 60px;
    box-sizing: border-box;

    pointer-events: none;
}

.navigation-menu {
    pointer-events: auto;

    min-width: 320px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    padding: 15px 20px;
}

.navigation-menu a {
    text-decoration: none;
    font-weight: 600;
    font-family: "Lora", sans-serif;
    padding: 8px 12px;
    font-size: 18px;

    color: rgb(249, 247, 239);

    transition: color 0.5s ease;
}

.navigation-menu a:hover {
    color: rgb(223, 150, 190);
}