body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.header {
    color: aquamarine;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.content-section {
    width: 100%;
    height: 100vh;
}

.content-section:nth-child(1) {
    background-color: gray;
}

.content-section:nth-child(2) {
    background-color: pink;
}

.content-section:nth-child(3) {
    background-color: green;
}

.content-section:nth-child(4) {
    background-color: red;
}

.content-section:nth-child(5) {
    background-color: yellow;
}

.content-section:nth-child(6) {
    background-color: blue;
}