html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.content-section {
    width: 100%;
    height: 100vh;
}