.bg-photo {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.5),
            rgba(47, 48, 58, 0.5)),
        url(./img/vinier0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    font-family: "Lora", serif;
}

html,
*,
::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: "Lora", serif;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: "Lora", serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 24px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 25px;
    padding: 20px 24px;
    background: #e7b0df33;
    border-radius: 100px;
    padding-right: 15px;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.menu a:not(.active) {
    color: #D7D7D7;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu .active {
    font-weight: 600;
}

.pink-btn {
    color: #edc3e1;
    background-color: #ca1c99;
    padding: 12px 14px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pink-btn:hover {
    transform: scale(1.1);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgba(60, 55, 62, 0) 0px 54px 55px, rgba(253, 252, 252, 0.12) 0px -12px 30px, rgba(252, 252, 252, 0.12) 0px 4px 6px, rgba(254, 254, 254, 0.17) 0px 12px 13px, rgba(253, 253, 253, 0.09) 0px -3px 5px;
}

.menu a:not(.active):hover {
    color: #ad4a91;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.column {
    background: transparent;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.column-container {
    display: flex;
    flex-direction: row;
}

.main-banner {
    width: 60%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fdfdfd;
    text-align: center;
    gap: 16px;
    margin: -50px;
}

h1,
h2,
h3,
h4 {
    font-family: "Cormorant Garamond", serif;
}

.section-text {
    line-height: 26px;
    color: #ededed;
    font-size: 18px;
}

.main-banner-section-text {
    width: 70%;
}

.main-banner h1 {
    font-size: 92px;
    line-height: 105%;
    font-weight: 600;
    width: 70%;
}

.buttons-container {
    margin-top: 16px;
}

.barbie-section {
    background-color: #d47fbf;
    padding: 100px 0;
    position: relative;
}

.ken-section {
    background-color: #abd46c;
    padding: 100px 0;
    position: relative;
}

.text-content {
    display: flex;
    justify-content: space-between;
}

.barbie-section-text {
    width: 60%;
}

.section-title {
    color: #FDFDFD;
    font-size: 48px;
    font-weight: 600;
    line-height: 115%;
}

.-section-text-item {
    width: 100%;
}

.-section-text-item {
    margin-bottom: 32px;
}

.barbie-section-text-item {
    margin-bottom: 32px;
}

.menu-section {
    background-color: #a4cdf1;
}

@media screen and (max-width: 1440px) {
    .barbie-section .image-content {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1300px) {
    .barbie-section {
        font-size: 35px;
    }

    .main-banner h1 {
        font-size: 60px;
    }

    .section-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .main-banner-section-text {
        width: 100%;
    }

    .main-banner h1 {
        width: 100%;
    }
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.image-content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 60px;
}

@media screen and (max-width: 850px) {
    .menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        gap: 8px;
        flex-direction: column;
        width: 40px;
    }

    .mobile-menu span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #e055c2;
        border-radius: 2px;
    }

    .main-banner {
        width: 100%;
        max-width: 800px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fdfdfd;
        text-align: center;
        gap: 16px;
        margin: 0 auto;
        padding: 50px 0;
    }

    .main-banner h1 {
        font-size: 40px;
    }

    .section-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .text-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        z-index: 1;
        position: relative;
    }

    .barbie-section-text-item:first-child {
        margin-bottom: 20px;
    }

    .section-text {
        text-align: center;
    }

    .barbie-section-text {
        width: 100%;
    }

    .image-content {
        justify-content: center;
    }
}

.image-content {
    width: 32%;
    /* Щоб 3 картинки помістилися в ряд (100% / 3 ≈ 33% мінус відступи) */
    height: 305px;
    /* Фіксована висота для акуратності */
    object-fit: cover;
    /* Обрізає картинку, щоб не деформувати пропорції */
    border-radius: 16px;
    /* Закруглені кути */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Легка тінь */
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
}

.image-content img:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 450px) {


    nav .pink-btn {
        display: none;
    }
}