#content-section-caries {
    background-color: #abd46c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#content-section-caries>p {
    text-align: right;
    width: calc(100% - 240px);
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    margin-top: 60px;
}

#content-section-caries>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: calc(100% - 240px);
}

#content-section-caries> :nth-child(2)>div {
    flex-basis: 25%;
    flex-grow: 0;
    flex-wrap: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#content-section-caries> :nth-child(2)>div>p {
    font-family: "Lora", serif;
    font-size: 22px;
}

#content-section-caries> :nth-child(2)>div>img {
    width: 240px;
    height: 240px;
}