#content-section-caries {
    background-color: #abd46c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#content-section-caries>h2 {
    text-align: right;
    width: calc(100% - 240px);
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    margin-right: 350px;
    margin-top: 0;
    padding-top: 20px;
}

#content-section-caries>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 95%;
    padding-bottom: 40px;
    gap: 20px;
}

#content-section-caries>div>div {
    flex-basis: 25%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: 1px solid #699427;
    border-radius: 8px;
    padding: 10px;
    background-color: #8eb850;
}

#content-section-caries>div>div>p {
    font-family: "Lora", serif;
    font-size: 22px;
    text-align: justify;
    margin: 0;
}

#content-section-caries>div>div>img {
    width: 240px;
    height: 240px;

    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.4s ease;
}

#content-section-caries>div>div>img:hover {
    transform: scale(1.07);
    z-index: 1;
}