#content-section-health {
    background-color: #e598d2;
    color: white;
    padding-top: 20px;
}

#content-section-health>div {
    padding: 0 120px;
    max-width: 1400px;
    margin: 0 auto;
}

#content-section-health> :nth-child(1) {
    display: flex;
    flex-direction: row;
   align-items: center; 
    margin-bottom: 70px;
    padding-top: 60px
}
#content-section-health> :nth-child(1)>h2 {
    flex-basis: 40%;
    flex-shrink: 0;

    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    margin: 0;
}

#content-section-health> :nth-child(1)>div {
    flex-basis: 55%;
    flex-shrink: 0;
}

#content-section-health> :nth-child(1)>div>p {
    font-family: "Lora", serif;
    font-size: 22px;
    line-height: 1.5;
}

#content-section-health> :nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 0;
    line-height: 0;
}

#content-section-health> :nth-child(2)>img {
    height: 300px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#content-section-health> :nth-child(2)>img:hover {
    transform: scale(1.05);
    z-index: 1;
}