#content-section-main {
    background-image: url('./../../img/vinier0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    color: white;
    opacity: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#content-section-main>p {
    padding: 120px;
    margin: 0;

    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
}